body
{
  display: flex;
  background-color: pink;
  flex-direction: column;
  font-family: Verdana;
  align-items: center;
  text-align: center;
}

span
{
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

h1
{
  margin-top: 50px;
  border: solid 2px white;
  padding: 15px 15px 15px 15px;
  width: auto;
  color: white;
  font-size: 20pt;

}

.grid-container
{
    display: grid;
    padding: 1px;
    width: 500px;
    height: 500px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    background-color: pink; 

} 

.grid-container > div 
{
   background-color: white;
   border-radius: 0%;
} 


